/* main page */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}


/* table view */
table {
  width: 100%;
  border: 1px solid black;
}

th,
td {
  border: 1px solid black;
  padding: 0.5rem;
}

th span {
  margin-right: 1rem;
}

input {
  -webkit-appearance: none;
  border: 1px solid gray;
  padding: 0.5rem;
  width: 100%;
  max-width: 100%;
  background: #f0f0f0;
}

.pagination {
  margin-top: 0.25rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 0.5rem;
}

.wrapper {
  width: 50%;
}

.btn-right {
  float: right;
}

tr,
th {
  border-right: 1px solid gray !important;
}
td {
  padding: 12px;
}
* {
  font-size: 20px;
}
